@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    font-family: "League Spartan", sans-serif;
    text-decoration: none;
    transition: ease-in-out 0.3s;
    color: #e6e6e6;
}

body {
    background-image: url("https://img.freepik.com/premium-vector/forest-mountain-lake-landscape-ai-generated-8bit-pixel-game-scene-8bit-arcade-backdrop-retro-game-vector-scenery-2d-videogame-level-design-background-with-forest-trees-river-mountains_8071-54858.jpg?w=826");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 2rem;
    color: whitesmoke;
}

main {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0px 10px 10px rgba(0, 0, 0.8, 0.8);
}

.conteudo-header {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.logo img {
    cursor: pointer;
}

nav img {
    cursor: pointer;
}

.espacamento-elementos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

canvas {
    border-radius: 10px;
    border: 1px solid black;
}

.placar {
    border-radius: 10px;
    background-color: #121212;
    width: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    height: 16rem;
    border: 1px solid black;
}

.placar h2 {
    font-size: 1.6rem;
}

.placar #inserir {
    font-size: 4rem;
}

button {
    margin-top: 1rem;
    width: auto;
    height: 40px;
    cursor: pointer;
    font-size: 1.6rem;
    color: #121212;
    margin-bottom: 1rem;
}